.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.Item-code {
  width: 2.8rem;
}

.Item-title {
  flex-grow: 1;
}

.Item-price {
  display: flex;
  justify-content: flex-end;
  min-width: 20rem;
}

.Item-button {
  height: 1.5rem;
  width: 5rem;
  margin-left: 1rem;
}
