.Controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px dashed #ccc;
}

.Controls-total {
  font-weight: bold;
}

.Controls-button {
  height: 1.5rem;
  width: 5rem;
  margin-left: 1rem;
}
